/* .themify_builder_314_row.module_row_0 Style */
.themify_builder_314_row.module_row_0.module_row {
	background-image: url(http://www.sunluxtechnovations.com/wp-content/uploads/2018/08/achivementcoverpic.jpg);
	background-size: cover;
	text-align: center;
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_0.module_row h1 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_0.module_row h2 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_0.module_row h3:not(.module-title) {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_0.module_row h4 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_0.module_row h5 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_0.module_row h6 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_0.module_row>.builder_row_cover {
	background:rgba(5,4,4, 0.60)
}
.themify_builder_314_row.module_row_0.module_row> div > .builder_row_cover {
	background:rgba(5,4,4, 0.60)
}

.themify_builder .image-314-0-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .buttons-314-0-0-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-0-0-2 .module-buttons .module-buttons-item a { background-color: #ffffff; background-color: rgba(255,255,255, 0); color: #ffffff;  } 
.themify_builder .buttons-314-0-0-2 .module-buttons .module-buttons-item a:hover { background-color: #dfa300; color: #ffffff;  } 
/* .themify_builder_314_row.module_row_1 Style */
.themify_builder_314_row.module_row_1.module_row {
	padding-top : 4px;
	padding-bottom : 4px
}

.themify_builder .fancy-heading-314-1-0-1.module-fancy-heading { background-repeat: ;  } 
.themify_builder .fancy-heading-314-1-0-1.module .main-head { color: #086587;  } 
.themify_builder .fancy-heading-314-1-0-1.module .sub-head { color: #0c8569;  } 
.themify_builder .buttons-314-1-0-3 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-1-0-3 .module-buttons .module-buttons-item a { background-color: #086587;  } 
/* .themify_builder_314_row.module_row_2 Style */
.themify_builder_314_row.module_row_2.module_row {
	padding-top : 4px;
	padding-bottom : 4px
}

.themify_builder .fancy-heading-314-2-0-1.module-fancy-heading { background-repeat: ; padding-top: 20px;  } 
.themify_builder .fancy-heading-314-2-0-1.module .main-head { color: #086587;  } 
.themify_builder .fancy-heading-314-2-0-1.module .sub-head { color: #0c8569;  } 
.themify_builder .image-314-3-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-314-3-0-1.module-image { padding-top: 20px; padding-bottom: 5px;  } 
.themify_builder .slider-314-3-0-3.module-slider .slide-content { text-align: justify;  } 
/* .themify_builder_314_row.module_row_4 Style */
.themify_builder_314_row.module_row_4.module_row {
	padding-top : 4px;
	padding-bottom : 4px
}

.themify_builder .image-314-4-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-314-5-1-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-314-5-1-1.module-image { padding-bottom: 10px;  } 
.themify_builder .buttons-314-5-1-3 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-5-1-3 .module-buttons .module-buttons-item a { background-color: #086587;  } 
.themify_builder .image-314-6-1-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-314-6-1-1.module-image { padding-bottom: 10px;  } 
.themify_builder .buttons-314-6-1-3 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-6-1-3 .module-buttons .module-buttons-item a { background-color: #086587;  } 
.themify_builder .image-314-7-1-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-314-7-1-1.module-image { padding-bottom: 10px;  } 
.themify_builder .buttons-314-7-1-3 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-7-1-3 .module-buttons .module-buttons-item a { background-color: #086587;  } 
/* .themify_builder_314_row.module_row_8 Style */
.themify_builder_314_row.module_row_8.module_row {
	padding-top : 4px;
	padding-bottom : 4px
}

.themify_builder .fancy-heading-314-8-0-1.module-fancy-heading { background-repeat: ;  } 
.themify_builder .box-314-8-0-2.module-box .module-box-content { background-repeat: ;  } 
.themify_builder .fancy-heading-314-sub_row_8-0-3-0-1.module-fancy-heading { background-repeat: ;  } 
.themify_builder .fancy-heading-314-sub_row_8-0-3-1-0.module-fancy-heading { background-repeat: ;  } 
.themify_builder .buttons-314-sub_row_8-0-3-1-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-sub_row_8-0-3-1-2 .module-buttons .module-buttons-item a { background-color: #086587;  } 
/* .themify_builder_314_row.module_row_9 Style */
.themify_builder_314_row.module_row_9.module_row {
	padding-top : 4px;
	padding-bottom : 4px
}

.themify_builder .image-314-9-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-314-9-0-1.module-image { padding-top: 20px; padding-bottom: 10px;  } 
.themify_builder .buttons-314-10-0-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-10-0-2.module.module-buttons { padding-bottom: 10px;  } 
.themify_builder .buttons-314-10-0-2 .module-buttons .module-buttons-item a { background-color: #086587;  } 
.themify_builder .buttons-314-10-1-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-10-1-2.module.module-buttons { padding-bottom: 10px;  } 
.themify_builder .buttons-314-10-1-2 .module-buttons .module-buttons-item a { background-color: #086587;  } 
.themify_builder .buttons-314-10-2-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-10-2-2.module.module-buttons { padding-bottom: 10px;  } 
.themify_builder .buttons-314-10-2-2 .module-buttons .module-buttons-item a { background-color: #086587;  } 
.themify_builder .buttons-314-10-3-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-10-3-2.module.module-buttons { padding-bottom: 10px;  } 
.themify_builder .buttons-314-10-3-2 .module-buttons .module-buttons-item a { background-color: #086587;  } 
.themify_builder .buttons-314-10-4-2 div.module-buttons { text-align: center;  } 
.themify_builder .buttons-314-10-4-2.module.module-buttons { padding-bottom: 10px;  } 
.themify_builder .buttons-314-10-4-2 .module-buttons .module-buttons-item a { background-color: #086587;  } 
/* .themify_builder_314_row.module_row_11 Style */
.themify_builder_314_row.module_row_11.module_row {
	background-image: url(http://www.sunluxtechnovations.com/wp-content/uploads/2017/08/map1-1024x640.jpg);
	padding-top : 4%;
	padding-bottom : 4%
}

/* .module_row_11 .module_column_0.tb_314_column Style */
.module_row_11 .module_column_0.tb_314_column.module_column {
	text-align: center
}

.themify_builder .image-314-11-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-314-11-0-1.module-image { padding-top: 5px; padding-bottom: 10px;  } 
.themify_builder .post-314-11-0-2.module-post .post { text-align: center;  } 
.themify_builder .image-314-12-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .image-314-12-0-1.module-image { padding-top: 3%; padding-bottom: 12px;  } 
/* .themify_builder_314_row.module_row_13 Style */
.themify_builder_314_row.module_row_13.module_row {
	background-image: url(http://www.sunluxtechnovations.com/wp-content/uploads/2017/07/Contact-Background.jpg);
	
	color: rgba(255,255,255, 1.00);
	padding-top : 8%;
	padding-bottom : 8%
}
.themify_builder_314_row.module_row_13.module_row h1 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_13.module_row h2 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_13.module_row h3:not(.module-title) {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_13.module_row h4 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_13.module_row h5 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_13.module_row h6 {
	
	color: rgba(255,255,255, 1.00)
}
.themify_builder_314_row.module_row_13.module_row>.builder_row_cover {
	background:rgba(0,0,0, 0.61)
}
.themify_builder_314_row.module_row_13.module_row> div > .builder_row_cover {
	background:rgba(0,0,0, 0.61)
}

.themify_builder .image-314-13-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .fancy-heading-314-15-0-1.module-fancy-heading { background-repeat: ;  } 
